.list{
    list-style-type: none;
}
.logos, .navigation, .adress, .icon{
    text-decoration: none;
}
body{
    font-family:Roboto;
    color: #2E2F42
}
.logo{
    color: #4D5AE5;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
}
.logos{
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
}
.navigation{
    font-weight: 500;
    font-size: 16px;
}
.navigation:hover, .navigation:focus{
    color: #404BBF;
}
.contact{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
}
.adress:hover, .adress:focus{
    color: #404BBF;
}
.heading{
    background-color: #2E2F42;
}
.title{
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
}
button{
    cursor: pointer;
}
.button{
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
}
.button:hover{
background-color: #404BBF;
}
.section{
    background-color: #F4F4FD;
}
.name{
    font-weight: 500;
    font-size: 20px;
}
.foto{
    background-color: #FFFFFF;
}
.text{
    color: #434455;
    font-size: 16px;
}
.headline{
    font-weight: 700;
    font-size: 36px;
}
.footer{
    background-color: #2E2F42;
}
.icon{
    color: #F4F4FD;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
}
.end-text{
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
}